body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
}

/* kanan */
.divB {
    background-color: rgb(218, 29, 214);
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.atasKanan {
    background-color: rgb(104, 32, 103);
    width: 100%;
    height: 50%;
}

.bawahKanan {
    background-color: rgb(233, 108, 231);
    width: 100%;
    height: 50%;
}

/* kiri */
.divA {
    background-color: white;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.atasKiri {
    background-color: #733572ff;
    width: 100%;
    height: 50%;
    display: flex;


}

.bawahKiri {
    background-color: white;
    width: 100%;
    height: 50%;
    display: flex;
}

.aba {
    background-color: white;
    width: 50%;
    height: 100%;

}

.aca {
    background-color: #733572ff;
    width: 50%;
    height: 100%;
}

.bcb {
    background-color: #733572ff;
    width: 50%;
    height: 100%;
}

.bdb {
    background-color: white;
    width: 50%;
    height: 100%;
}